/* 
 *  Document   : features_overview
 *  Created on : 20.02.2011, 21:46:12
 *  Author     : as
 *  Description: 
 *
*/


.feature-disabled,
.feature-disabled a {
  color: #bbb;
}

.feature-inner-dependency {
  color: #FF6600;
}

.feature-module-name {
	position: relative;
	padding: 1.7em 1em 0.5em;
}
.column-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 0.2em 0.4em;
	border: 1px solid green;
	border-width: 0 0 1px 1px;
	color: green !important;
	background: #EFE;
	line-height: 1;
	text-decoration: none;
}
.column-toggle:hover {
	text-decoration: none;
}
.toggle-inactive {
	border-color: red;
	background: #FEE;
	color: red !important;
}
.column-hidden {
	background: #CFC;
}
/* TABLE styles */

table.feature-infos {
  width: auto;
}

table.feature-infos th{
  font-weight: bold;
  width: 1px;
}
table.feature-infos td{
  border: 1px solid #BEBFB9;
}
table.feature-infos-matrix td {
  text-align: center;
}
table.feature-infos tr:hover td {
  background-color: #53D9F0;
}
